<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>Members Only</title>
  </head>
  <body>
    <div class="messages">
      <header>
        <h1>Members Only</h1>
        <div>
          <% if (!locals.user) {%>
          <a href="/sign-in" class="material-symbols-outlined"> login </a>
          <% } %> <% if (locals.user) {%>
          <a class="material-symbols-outlined"> face </a>
          <a href="/sign-out" class="material-symbols-outlined"> logout </a>
          <% } %>
        </div>
      </header>
      <hr />

      <% messages.forEach(el => { %>
      <div class="message">
        <p><%= el.message %></p>
        <span class="user"
          ><%= el.username.charAt(0) + '*'.repeat(el.username.length - 1)
          %></span
        >
        <span class="time"
          ><%= new Date(parseInt(el.timestamp)).toLocaleString() %></span
        >
        <hr />
      </div>
      <% }) %> <% if (locals.user) {%>
      <form action="/message" method="post" id="messageForm">
        <div>
          <input
            type="text"
            name="message"
            id="message"
            placeholder="New message"
          />
        </div>
        <button type="submit">Submit</button>
      </form>
      <% } %>
    </div>
  </body>
</html>
