<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
    <title>Sign In</title>
  </head>
  <body>
    <h1>Sign In</h1>
    <form action="" method="post">
      <div>
        <label for="username">Email:</label>
        <input type="email" name="username" id="username" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
      </div>
      <button type="submit">Sign In</button>
    </form>
    <p>Or sign in with:</p>
    <a href="/auth/google">
      <i class="devicon-google-plain"></i>
    </a>
    <a href="/auth/facebook">
      <i class="devicon-facebook-plain"></i>
    </a>
    <a href="/auth/github">
      <i class="devicon-github-original"></i>
    </a>
    <div><a href="/">Back Home</a></div>
  </body>
</html>
